<!DOCTYPE html>

<html ng-app="fourthTaskApp">
<head>
    <title>Task 4</title>
    <meta charset="utf-8">
    <script src="../node_modules/angular/angular.js"></script>
    <script src="model.js"></script>
    <script src="app.js"></script>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../node_modules/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
</head>

<body ng-controller="TestCtrl">
<div class="container well">
    <div id="start"   >
        <div id="" ng-hide="start">
            <div>Тест: {{test.name}}</div>
            <div>Автор: {{test.author}}</div>
            <div>Питань: {{test.questions.length}}</div>
            <div><button class="btn btn-default" ng-click="startTest()">Розпочати тест</button></div>
        </div>

        <div id="test" ng-show="start">

            <div ng-repeat="value in test.questions" ng-show="visingBlocks[value.id]" >
                <div class="question">{{value.question}}</div>
                <div>
                    <div class="task">{{value.task}}</div>

                </div>

                <div class="answers">
                    <div ng-repeat="answer in value.answers" class="answer">
                    <span>
                        <input type="radio" name="questionNumber{{value.id}}" />
                        {{answer}}
                    </span>
                    </div>
                </div>

            </div>

            <!-- footer of the test  -->
            <div class="footer">
                <span ng-repeat="value in test.questions" >
                <input type="radio" name="questionNumber" ng-model="$parent.selectedQuestion"  ng-click="setBlockVision(value.id)" value="{{value.id}}"> {{value.id}}
                </span>
            </div>
            <div class="finishButton">
                <button class="btn btn-default" ng-click="finishTest()" ng-disabled="start">Завершити тест</button>
            </div>
            <div id="clock"></div>
        </div>
    </div>


</div>

</body>
</html>

