<!DOCTYPE html>
<html lang="en" ng-app="tenthApp">
<head>
    <meta charset="UTF-8">
    <title>Filter | Numbers</title>
    <script src="../node_modules/angular/angular.js"></script>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../node_modules/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <script>
        angular.module("tenthApp", [])
                .controller("filterCtrl", function ($scope) {
                    $scope.numbers = [17,4,2,5,6,8,1,99,10,11];
                    $scope.arrayNumeric = [];

                }).filter("orderByOdd", function () {
                    return function (item) {

                        var even = [];
                        var odd = [];

                        for (var key in item) {
                            var elem = item[key];
                            if (elem % 2 == 0)
                                even[key] = elem;
                            else
                                odd[key] = elem;
                        }

                        even.sort(function (a, b) {
                            if (a > b) return 1;
                            if (a < b) return -1;
                        });
                        odd.sort(function (a, b) {
                            if (a > b) return 1;
                            if (a < b) return -1;
                        });

                        return even.concat(odd);
                    }
                });
    </script>
</head>
<body ng-controller="filterCtrl">

<div class="panel panel-primary">
    <div class="panel-heading">
            <h3>
                Count
                <span class="label label-info">{{numbers.length}}</span>
            </h3>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-1">
        Source
        <ul>
            <li ng-repeat="item in numbers">{{item}}</li>
        </ul>
    </div>

    <div class="col-sm-1">
        Destination
        <ul>
            <li ng-repeat="item in numbers | orderByOdd">{{item}}</li>
        </ul>
    </div>
</div>



</body>
</html>