<!DOCTYPE html>
<html lang="en" ng-app="fourteenth">
<head>
    <meta charset="UTF-8">
    <title>Directive</title>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="app.js"></script>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../node_modules/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
</head>
<body ng-controller="calculatorCtrl">

<div class="panel panel-primary">
    <div class="panel-heading">
            <h3>Calculator</h3>
    </div>
</div>
<form class="form-inline">
    <div class="form-group">
        <input type="number" ng-model="namber1" ng-change="calculation(operation, namber1, namber2)"  class="form-control">
        <select ng-model="operation" ng-change="calculation(operation, namber1, namber2)"  class="form-control">
            <option>+</option>
            <option>-</option>
            <option>*</option>
            <option>/</option>
            <option>^</option>
        </select>
        <input type="number" ng-model="namber2" ng-change="calculation(operation, namber1, namber2)"  class="form-control"> =
        <input type="number" ng-model="result"  readonly class="form-control" >
    </div>
</form>

</body>
</html>