<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="fifthTaskApp">
<head>
    <title>Task 6</title>
    <meta charset="utf-8">
    <script src="../node_modules/angular/angular.js"></script>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../node_modules/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />

    <script>
        var courseListApp = angular.module("fifthTaskApp", []);

        courseListApp.controller("formCtrl", function ($scope) {

            $scope.addNewUser = function (userDetails) {
                console.log(userDetails);
            };

            $scope.message = "Ready";


            $scope.userList = [
                {   }
            ];

        });

    </script>
</head>
<body>
<div class="row" style="margin:10px">
    <div ng-controller="formCtrl" style="width:350px;" class="col-md-4">
        <form name="myForm" novalidate ng-submit="addNewUser(newUser)">
            <div class="well">
                <div class="form-group">
                    <label>П.І.Б.</label>
                    <input name="userName" type="text" class="form-control" ng-model="newUser.name" required>
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input name="userEmail" type="email" class="form-control" required ng-model="newUser.email">
                </div>
                <div class="form-group">
                    <label>Телефон:</label>
                    <input name="userTelephone" type="text" class="form-control" required ng-model="newUser.telephone">
                </div>
                <div class="form-group">
                    <label>Пароль:</label>
                    <input name="userPassword" type="password" class="form-control" required ng-model="newUser.password">
                </div>
                <div class="form-group">
                    <label>Підтвердження паролю:</label>
                    <input name="userConfirmPassword" type="password" class="form-control" required ng-model="newUser.confirmPassword">
                </div>
                <button type="submit" class="btn btn-primary btn-block" ng-disabled="myForm.$invalid">
                    OK
                </button>
            </div>
        </form>
    </div>

    <div class="col-md-8">

    </div>

</div>
</body>
</html>