<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="fifthTaskApp">
<head>
    <title>Task 6</title>
    <meta charset="utf-8">
    <script src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="../node_modules/ui_utils/angular-ui-utils.min.js"></script>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../node_modules/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />

    <script>
        var courseListApp = angular.module("fifthTaskApp", ['ui.utils']);

        courseListApp.controller("formCtrl", function ($scope) {

            $scope.userList = [
                { name : "Testname",  email : "testmail@gmail.com", telephone: "+380962345235", password : "12345" }
            ];

            $scope.disableForm = true;
            $scope.message = "";

            $scope.addNewUser = function (userDetails) {
                console.log(userDetails);
            };



            $scope.checkUserName = function (value) {
                if(/^[a-zA-Zа-яА-Я'][a-zA-Zа-яА-Я-' ]+[a-zA-Zа-яА-Я']?$/.test(value) === false){
                    $scope.disableForm = false;
                    $scope.message = "Неправильно введено імя";
                }else{
                    $scope.disableForm = true;
                    $scope.message = "";
                }
            }

        });

    </script>
</head>
<body>
<div class="row" style="margin:10px">
    <div ng-controller="formCtrl" style="width:350px;" class="col-md-4">
        <form name="myForm" novalidate ng-submit="addNewUser(newUser)">
            <div class="well">
                <div class="form-group">
                    <label>П.І.Б.</label>
                    <input name="userName" type="text" class="form-control" ng-model="newUser.name" required ng-blur="checkUserName(newUser.name)" autofocus>
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input name="userEmail" type="email" class="form-control" required ng-model="newUser.email">
                </div>
                <div class="form-group">
                    <label>Телефон:</label>
                    <input name="userTelephone" type="text" class="form-control" required ng-model="newUser.telephone" ui-mask="+38(099) 999-9999"  ui-mask-placeholder ui-mask-placeholder-char="_">
                </div>
                <div class="form-group">
                    <label>Пароль:</label>
                    <input name="userPassword" type="password" class="form-control" required ng-model="newUser.password">
                </div>
                <div class="form-group">
                    <label>Підтвердження паролю:</label>
                    <input name="userConfirmPassword" type="password" class="form-control" required ng-model="newUser.confirmPassword">
                </div>
                <button type="submit" class="btn btn-primary btn-block" ng-disabled="( myForm.$invalid && disableForm)">
                    OK
                </button>
            </div>
        </form>
        <div class="well">
            {{message}}
        </div>
    </div>

    <div class="col-md-8">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>name</th>
                <th>email</th>
                <th>telephone</th>
                <th>password</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="value in data">
                <td>{{value.name}}</td>
                <td>{{value.email}}</td>
                <td>{{value.telephone}}</td>
                <td>{{value.password}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>