<!DOCTYPE html>

<html ng-app="firstTaskApp">
<head>
    <title>Task 5</title>
    <meta charset="utf-8">
    <script src="../node_modules/angular/angular.js"></script>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../node_modules/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />

    <script>
        var courseListApp = angular.module("firstTaskApp", []);

        courseListApp.controller("StyleCtrl", function ($scope) {

            $scope.style = //{1:'first', 2: 'second', 3: 'third'};
            [
                {value: 'first'},
                {value: 'second'},
                {value: 'third'}
            ];
            $scope.checkedStyle = 'first';

            $scope.checkStyle = function () {
                $scope.checkedStyle = 'second';
            }
        });
    </script>
</head>

<body ng-controller="StyleCtrl">
    <div class="radio" ng-repeat="item in style">
        <label>
            <input type="radio" name="check"  ng-model="$parent.checkedStyle"  value="{{item.value}}"/> {{item.value}}
        </label>
    </div>
    <div class="test-div" ng-class="checkedStyle">{{checkedStyle}}</div>
</body>
</html>

