<!DOCTYPE html>

<html ng-app="firstTaskApp">
<head>
    <title>Task 5</title>
    <meta charset="utf-8">
    <script src="../node_modules/angular/angular.js"></script>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../node_modules/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />

    <script>
        var courseListApp = angular.module("firstTaskApp", []);

        courseListApp.controller("StyleCtrl", function ($scope) {

            $scope.styleObj = {
                main: true,
                first: false,
                second: false,
                size: false
            }

        });
    </script>
</head>

<body ng-controller="StyleCtrl">
    <div class="container" >
        <label style="cursor: pointer;"><input type="checkbox" ng-model="styleObj.first" />First </label><br />
        <label style="cursor: pointer;"><input type="checkbox" ng-model="styleObj.second" />Second </label><br />
        <label style="cursor: pointer;"><input type="checkbox" ng-model="styleObj.third" />Third </label><br />
        <div ng-class="styleObj">TEXT</div>
    </div>
</body>
</html>

