.main{
    height: 200px;
    width: 200px;
    border: 2px solid #ff6e62;
}

.first{
    background-color: lightgreen;

}

.second{
    color: lightcoral;
}

.third{
    border: 2px dotted lightblue;
}



.element{
    padding-left: 10px;
}