.main{
    height: 200px;
    width: 200px;
    border: 2px solid #ff6e62;
}

.first{
    background-color: #2e6da4;

}

.second{
    color: #e34bff;
}

.third{
    border: 2px dotted #2949a4;
}



.element{
    padding-left: 10px;
}